.class{
    
    width : 200px ;
    height : 200px;
    background-color: red;
    color: white;
    font-size: 90px;
    border-radius: 10px;
    border-color: black;
    border-width: 10px;
    border-style: solid;
    margin: 20px; 
}

.hello {
    display: flex;
    flex-direction : row-reverse; 
}






